<!DOCTYPE html>

{#Grande image, texte dessous#}

<html>
<body>
<div class="Projet1" style="width: 350px; height: 261px; position: relative">
  <div class="ImageA" style="width: 350px; height: 200px; left: 0px; top: 0px; position: absolute; border-radius: 10px; overflow: hidden">
    <img class="Illu" style="width: 375px; height: 281px; left: 0px; top: -66px; position: absolute" src="{{ publication.image }}" />
    <div class="DGrad" style="width: 350px; height: 100px; left: 0px; top: 100px; position: absolute; background: linear-gradient(360deg, #1C1F22 0%, rgba(28, 31, 34, 0) 100%)"></div>
    <div class="Titre" style="width: 330px; left: 10px; top: 152px; position: absolute; color: #F5F5F5; font-size: 16px; font-family: Urbanist; font-weight: 500; word-wrap: break-word">{{ publication.title }}</div>
  </div>
  <div class="Tags" style="width: 205px; height: 34px; left: 0px; top: 227px; position: absolute; justify-content: flex-start; align-items: flex-start; gap: 5px; display: inline-flex">
    {% for tag in publication.tags %}
    <div class="Tag" style="padding-top: 10px; padding-bottom: 10px; border-radius: 50px; justify-content: flex-start; align-items: flex-start; display: flex">
      <div class="Tag" style="color: #009DDC; font-size: 12px; font-family: Urbanist; font-weight: 400; word-wrap: break-word">{{ tag }}</div>
    </div>
    {% endfor %}
  </div>
  <div class="Auteur" style="left: 0px; top: 210px; position: absolute; color: #1C1F22; font-size: 14px; font-family: Urbanist; font-weight: 400; word-wrap: break-word">{{ publication.author }}</div>
</div>

</body>
