<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Footer</title>
    <link rel="stylesheet" href="/public/style.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,200;0,400;0,500;0,600;1,600&display=swap" />
  </head>
  <body>
    <div class="FooterMobile">
      <div class="HeticNet">
        <img src="/images/logo-hetic-vectorisé.svg" />
        <img src="/images/flèche link.svg" />
      </div>
      <div class="Links">
        <img src="/images/Youtube footer.svg" />
        <img src="/images/Instagram footer.svg" />
        <img src="/images/Facebook footer.svg" />
        <img src="/images/Linkedin footer.svg" />
        <img src="/images/Twitter footer.svg" />
      </div>
      <div class="Categories">CATEGORIES</div>
      <div class="Valeurs">VALEURS</div>
      <div class="Compte">COMPTE</div>
      <div class="APropos">A PROPOS</div>
      <div class="Line6"></div>
      <div class="Line7"></div>
      <div class="Line8"></div>
      <div class="Récit">Récits</div>
      <div class="Confidentialité">Confidentialité</div>
      <div class="Profil">Profil</div>
      <div class="Contact">Contact</div>
      <div class="MesPublications">Mes publications</div>
      <div class="MentionsLégales">Mentions légales</div>
      <div class="Sphère">Sphère</div>
      <div class="Events">Events</div>
      <div class="Accueil">Accueil</div>
    </div>
  </body>
</html>
